
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" routerLink="create-users" routerLinkActrive="active">Signup</a>
              </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="login" routerLinkActrive="active" >Login</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" routerLink="orders" routerLinkActrive="active">Orders</a>
          </li>

        </ul>
            
        <form class="d-flex">
          
          <button class="btn btn-light" type="submit">Table Booking</button>
        </form>     
        </div>
  </nav>
  
<div class="Container">
<router-outlet></router-outlet>
</div>